<header class="nav-bar">
  <div class="m-header" [style.display]="this.headerStyle">
    <a 
      class="mobile-menu" 
      id="mobile-collapse1" 
      href="javascript:" 
      (click)="this.onNavCollapsedMob.emit();"
    >
      <span></span>
    </a>
    <a [routerLink]="['/dashboard']" class="b-brand">
      <div class="b-bg">
        <i class="feather icon-trending-up"></i>
      </div>
      <span class="b-title">Will Play</span>
    </a>
  </div>
  <a 
    class="mobile-menu" 
    [ngClass]="{'on' : this.menuClass}" 
    id="mobile-header" 
    href="javascript:" 
    (click)="toggleMobOption()"
  >
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse" [style.display]="this.collapseStyle">
    <app-nav-left class="mr-auto"></app-nav-left>
    <app-nav-right class="ml-auto"></app-nav-right>
  </div>
</header>
