.project-action, .task-action {
    .dropdown-menu.show:before {
        display: none;
    }
}

.project-action {
    display: flex;
}

.editor-button {
    position: absolute;
    bottom: 65px;
    z-index: 100000;
    right: 30px;
}

.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
