<div class="row" *ngIf="project">
    <div class="col-xl-4 col-lg-12 task-detail-right">
        <app-card [hidHeader]="true" [blockClass]="'bg-c-blue'">
            <div class="counter text-center">
                <h4 id="timer" class="text-white m-0">
                    {{ message }}
                </h4>
            </div>
        </app-card>
        <app-card [cardTitle]="'Project Detail'" [options]="false" [blockClass]="'task-details'">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <i class="fas fa-adjust m-r-5"></i>
                            Project:
                        </td>
                        <td class="text-right">
                            <span class="float-right" *ngIf="!editMode">
                                {{ project.name }}
                            </span>
                            <div *ngIf="editMode">
                                <input class="form-control form-control-sm" [(ngModel)]="project.name" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="far fa-calendar-alt m-r-5"></i>
                            Updated:
                        </td>
                        <td class="text-right">{{ project.updatedAt | date:'longDate' }}</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="far fa-credit-card m-r-5"></i>
                            Created:
                        </td>
                        <td class="text-right">{{ project.createdAt | date:'longDate' }}</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-chart-line m-r-5"></i>
                            Priority:
                        </td>
                        <td class="text-right">
                            <div class="btn-group" *ngIf="!editMode">
                                <a href="" class="text-secondary" (click)="$event.preventDefault();">
                                    <i class="fas fa-upload m-r-5"></i> 
                                    {{ project.priority }}
                                </a>
                            </div>
                            <div *ngIf="editMode">
                                <select name="select" class="form-control form-control-sm" [(ngModel)]="project.priority">
                                    <option value="Highest">Highest</option>
                                    <option value="High">High</option>
                                    <option value="Normal">Normal</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-clock m-r-5"></i>
                            Estimate:
                        </td>
                        <td class="text-right">
                            <span class="float-right" *ngIf="!editMode">
                                {{ project.estimate }}
                            </span>
                            <div *ngIf="editMode">
                                <input class="form-control form-control-sm" [(ngModel)]="project.estimate" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-tag m-r-5"></i>
                            Tasks:
                        </td>
                        <td class="text-right">{{ project.tasks.length }}</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-user-plus m-r-5"></i>
                            Created By:
                        </td>
                        <td class="text-right">
                            <a class="text-secondary" [routerLink]="['/dashboard/user/', project.owner.userId]">{{ project.owner.name }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-thermometer-half m-r-5"></i>
                            Status
                        </td>
                        <td class="text-right">
                            <span *ngIf="!editMode">
                                {{ project.status }}
                            </span>
                            <div *ngIf="editMode">
                                <select name="select" class="form-control form-control-sm" [(ngModel)]="project.status">
                                    <option value="Open">Open</option>
                                    <option value="Completed">Completed</option>
                                    <option value="On Hold">On Hold</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="float-right project-action">
                <div class="d-inline-block" ngbDropdown placement="top-right" >
                    <button class="btn drp-icon btn-primary dropdown-toggle" 
                            type="button" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false"
                            ngbDropdownToggle
                    >
                        <i class="feather icon-thumbs-up"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href (click)="$event.preventDefault(); startCounter();">Check in</a>
                        <a class="dropdown-item" href (click)="$event.preventDefault(); editMode = true;">Edit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item  text-danger" href (click)="deleteProject($event)">Remove</a>
                    </div>
                </div>
                <div *ngIf="editMode">
                    <button class="btn btn-outline-primary" (click)="updateProject()">Save</button>
                </div>
            </div>
        </app-card>
        <app-card [cardTitle]="'Assigned Users'" [options]="false" [blockClass]="'user-box assign-user'">
            <div class="media" *ngFor="let user of project.assignee">
                <div class="media-left media-middle mr-3">
                    <a>
                        <img class="img-radius" [src]="user.imageUrl">
                    </a>
                </div>
                <div class="media-body">
                    <h6>{{ user.name }}</h6>
                    <p></p>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-8 col-lg-12">
        <app-card [customHeader]="true">
            <div class="app-card-header">
                <h5 class="mb-3"><i class="fas fa-bookmark m-r-5"></i> Overview </h5>
                <button *ngIf="!project.active" class="btn btn-primary float-right" (click)="checkIn()"><i class="far fa-bell m-r-5"></i>Check in</button>
                <button *ngIf="project.active" class="btn btn-success float-right" (click)="doneProject()"><i class="feather icon-check-circle m-r-5"></i>Completed</button>
            </div>
            <div class="m-b-20">
                <app-ngx-editor 
                    [config]="editorConfig"  
                    [(ngModel)]="project.description"
                    (click)="setEditorFocus()"
                    (blur)="saveDesc()"
                ></app-ngx-editor>
                <!--<p>{{ project.description }}</p>-->
                <div *ngIf="isEditorFocus" class="btn-group btn-group-sm editor-button" role="group" aria-label="button groups sm">
                    <button type="button" class="btn btn-secondary fas fa-check" (click)="saveDesc()"></button>
                    <button type="button" class="btn btn-secondary fas fa-times" (click)="cancelDesc()"></button>
                </div>
            </div>
        </app-card>
        <app-card [customHeader]="true">
            <div class="app-card-header">
                <h5 class="mb-3"><i class="fas fa-ticket-alt m-r-5"></i> Task List </h5>
                <button class="btn btn-icon btn-primary float-right m-0" (click)="addTask()"><i class="fas fa-plus"></i></button>
            </div>
            <div class="m-b-20">
                <div class="table-responsive">
                    <table class="table m-b-0 f-14 b-solid requid-table">
                        <thead>
                            <tr class="text-uppercase">
                                <td width="50">#</td>
                                <td width="150">Task</td>
                                <td width="90">Estimate</td>
                                <td>Description</td>
                                <td width="102">Action</td>
                            </tr>
                        </thead>
                        <tbody class="text-muted">
                            <tr *ngFor="let t of project.tasks | dataFilter:'status':filter.status; let i = index;">
                                <td>{{ i + 1 }}</td>
                                <td>{{ t.name }}</td>
                                <td>{{ t.estimate }}</td>
                                <td>{{ t.description }}</td>
                                <td>
                                    <div class="float-right d-flex">
                                        <span>
                                            <a href class="text-info m-r-10 f-16" (click)="editTask($event, t)"><i class="fas fa-edit"></i> </a>
                                        </span>
                                        <span *ngIf="t.status != 'Completed'">
                                            <a href class="text-success m-r-10 f-16" (click)="doneTask($event, t)"><i class="feather icon-check-circle"></i> </a>
                                        </span>
                                        <span class="m-r-10">
                                            <a href class="text-danger f-16" (click)="removeTask($event, t, i)"><i class="fas fa-trash"></i></a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="float-left mt-4">
                <span class=" txt-primary"> 
                    <i class="fas fa-chart-line"></i>
                    Status:
                </span>
                <div class="dropdown-secondary dropdown d-inline-block task-action" ngbDropdown placement="top-right">
                    <button class="btn btn btn-primary dropdown-toggle " 
                            type="button" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false"
                            ngbDropdownToggle
                    >{{ filter.status ? filter.status : 'All' }}</button>
                    <div class="dropdown-menu" 
                         data-dropdown-in="fadeIn" 
                         data-dropdown-out="fadeOut"
                         ngbDropdownMenu 
                    >
                        <a class="dropdown-item" [ngClass]="filter.status === '' ? 'active' : ''" (click)="filter.status = ''">Show All</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [ngClass]="filter.status === '' ? 'Open' : ''" (click)="filter.status = 'Open'">Open</a>
                        <a class="dropdown-item" [ngClass]="filter.status === '' ? 'On Hold' : ''" (click)="filter.status = 'On Hold'">On Hold</a>
                        <a class="dropdown-item" [ngClass]="filter.status === '' ? 'Completed' : ''" (click)="filter.status = 'Completed'">Completed</a>
                        <a class="dropdown-item" [ngClass]="filter.status === '' ? 'Rejected' : ''" (click)="filter.status = 'Rejected'">Rejected</a>
                    </div>
                </div>
            </div>
        </app-card>
        <app-card [customHeader]="true" [blockClass]="'task-comment'">
            <div class="app-card-header">
                <h5 class="card-header-text"><i class="fas fa-comment-dots m-r-5"></i> Comments</h5>
                <button type="button" class="btn btn-icon btn-primary float-right m-0">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </app-card>
    </div>
</div>

<div class="add-task-dialog" >
  <app-modal-animation [modalID]="'add-task'" [modalClass]="'md-effect-4'">
    <h3>Add new task</h3>
    <div class="project-form" *ngIf="newTask">
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-info" [(ngModel)]="newTask.name">
            </div>
        </div>
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Estimate</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-info" [(ngModel)]="newTask.estimate">
            </div>
        </div>        
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <select name="select" class="form-control form-control-info" [(ngModel)]="newTask.status">
                    <option value="Open">Open</option>
                    <option value="Completed">Completed</option>
                    <option value="On Hold">On Hold</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
        </div>
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea 
                    class="form-control form-control-info" 
                    cols="80"
                    rows="3" 
                    [(ngModel)]="newTask.description"
                >
                </textarea>
            </div>
        </div>
        <div class="row">
            <button (click)="createTask()" class="btn btn-primary md-close">Save</button>
        </div>
    </div>
    <button (click)="closeMyModal()" aria-label="Close" class="md-close-btn">
      <i class="feather icon-x"></i>
    </button>
  </app-modal-animation>
</div>