<div class="row">
    <div class="col-md-8">
        <app-card cardTitle="Edit Profile" [options]="false">
            <form novalidate [formGroup]="profileForm" *ngIf="user">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="text" formControlName="username">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1 pr-1">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" formControlName="email">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label>Company</label>
                            <input class="form-control" placeholder="Company" type="text" formControlName="company">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" placeholder="First Name" type="text" formControlName="firstName">
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" placeholder="Last Name" type="text" formControlName="lastName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" placeholder="Home Address" type="text" formControlName="address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>City</label>
                            <input class="form-control" placeholder="City" type="text" formControlName="city">
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Country</label>
                            <input class="form-control" placeholder="Country" type="text" formControlName="country">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input class="form-control" placeholder="ZIP Code" type="text" formControlName="postalCode">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Facebook</label>
                            <input class="form-control" placeholder="Facebook" type="text" formControlName="facebook">
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Twitter</label>
                            <input class="form-control" placeholder="Twitter" type="text" formControlName="twitter">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label>LinkedIn</label>
                            <input class="form-control" placeholder="LinkedIn" type="text" formControlName="linkedin">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>About Me</label>
                            <textarea 
                                class="form-control" 
                                cols="80" 
                                placeholder="Here can be your description" 
                                rows="4" 
                                formControlName="description"
                            >
                            </textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="!user">
                <div>
                    <div class="row">
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <input class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="loading-label"></label>
                                <textarea 
                                    class="form-control" 
                                    cols="80"
                                    rows="4" 
                                    disabled
                                >
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center loading-profile" *ngIf="!user">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [hidHeader]="true" blockClass="px-0 py-0">
            <div *ngIf="user && user.credentials">
                <div class="image"></div>
                <div class="card-body">
                    <div class="author-profile">
                        <a style="cursor: pointer">
                            <input 
                                type="file" 
                                #imageInput 
                                (change)="onChangeImage($event)"
                                hidden="hidden"
                                name="photo"
                                ng2FileSelect 
                                [uploader]="uploader"
                            >
                            <img 
                                alt="profile image" 
                                class="avatar border-gray" 
                                [src]="user.credentials.imageUrl" 
                                (click)="imageInput.click()"
                                style="object-fit: cover;"
                            >
                            <h5 class="title">{{ profileForm.value.firstName }} {{ profileForm.value.lastName }}</h5>
                        </a>
                        <p class="username"> {{ user.credentials.username }} </p>
                        <p> 
                            <span>
                                <i class="feather text-dark icon-mail"></i>
                                {{ user.credentials.email }}
                            </span>
                            <br *ngIf="profileForm.value.company" />
                            <span class="company" *ngIf="profileForm.value.company">
                                <i class="feather text-dark icon-briefcase"></i>
                                {{ profileForm.value.company }} 
                            </span>
                        </p>
                        <p 
                            class="address" 
                            *ngIf="profileForm.value.address || 
                                   profileForm.value.city || 
                                   profileForm.value.country || 
                                   profileForm.value.postalCode"
                        >
                            <i class="feather text-dark icon-map-pin"></i>
                            {{ profileForm.value.address }}
                            <br *ngIf="profileForm.value.address">
                            {{ profileForm.value.city }}
                            {{ profileForm.value.city && profileForm.value.country ? ', ' : ' ' }} 
                            {{ profileForm.value.country }} 
                            {{ profileForm.value.postalCode }}
                        </p>
                    </div>
                    <p class="description text-center" *ngIf="profileForm.value.description">
                        <i class="feather text-dark icon-file-text"></i>
                        {{ profileForm.value.description }}
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <a 
                        *ngIf="profileForm.value.facebook"
                        class="btn btn-neutral btn-icon btn-round btn-lg" 
                        target="_blank" 
                        [href]="buildUrl(profileForm.value.facebook)"
                    >
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a 
                        *ngIf="profileForm.value.twitter"
                        class="btn btn-neutral btn-icon btn-round btn-lg"
                        target="_blank" 
                        [href]="buildUrl(profileForm.value.twitter)"
                    >
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a 
                        *ngIf="profileForm.value.linkedin"
                        class="btn btn-neutral btn-icon btn-round btn-lg"
                        target="_blank" 
                        [href]="buildUrl(profileForm.value.linkedin)"
                    >
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div *ngIf="!user">
                <div class="image"></div>
                <div class="card-body">
                    <div class="author-profile">
                        <a>
                            <img class="avatar border-gray" src="https://firebasestorage.googleapis.com/v0/b/will-play-app.appspot.com/o/no-img.png?alt=media">
                            <p class="title-loading"></p>
                        </a>
                        <p class="username-loading"></p>
                    </div>
                    <p class="description-loading-1 text-center"></p>
                    <p class="description-loading-2 text-center"></p>
                    <p class="description-loading-3 text-center"></p>
                </div>
                <div class="d-flex justify-content-center spinner-loading">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="fixed-button">
    <button type="button" class="btn btn-primary" (click)="save()">
        <i class="feather icon-check-circle"></i>
        Save
    </button> 
</div>
