.image {
    min-height: 120px;
    display: block;
    height: 120px;
    background: linear-gradient(to right, rgb(29, 233, 182) 0%, rgb(29, 196, 233) 100%);
}

.card-body {
    .author-profile {
        text-align: center;
        text-transform: none;
        margin-top: -77px;
        a {
            color: #f96332;
            text-decoration: none;
            background-color: transparent;
        }
        .avatar {
            width: 124px;
            height: 124px;
            border: 1px solid #fff;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        .title {
            font-weight: 700;
        }
        h5 {
            font-size: 1.57em;
            line-height: 1.4em;
            margin-bottom: 15px;
            margin-top: 0;
            font-family: inherit;
            color: inherit;
        }
        a+p.username {
            margin-top: -7px;
        }
        p {
            margin-bottom: 1rem;
            &.description, &.username {
                font-size: 1.14em;
                color: #9a9a9a;
                font-weight: 300;
            }
        }

        .title-loading {
            height: 1.4em;
            margin-bottom: 15px;
            margin-top: 0;
            background-color: rgba(0, 0, 0, 0.6);
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }

        .username-loading {
            height: 23px;
            margin-top: -7px;
            background-color: rgba(0, 0, 0, 0.4);
            width: 20%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .description-loading-1 {
        height: 16px;
        background-color: rgba(0, 0, 0, 0.4);
        margin-bottom: 5px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .description-loading-2 {
        height: 16px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 30%;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    .description-loading-3 {
        height: 16px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 50%;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}

.button-container {
    margin-bottom: 6px;
    text-align: center;
    .btn-neutral {
        background-color: #fff;
        color: #f96332;
    }
}

.spinner-loading {
    position: absolute;
    top: 40%;
    left: 40%;
    .spinner-border {
        width: 5rem; 
        height: 5rem;
    }
}

hr {
    margin: 5px 15px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.loading-label {
    height: 21px;
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.loading-profile {
    position: absolute;
    top: 40%;
    left: 45%;
    .spinner-border {
        width: 5rem; 
        height: 5rem;
    }
}

.fixed-button {
    position: fixed;
    bottom: 50px;
    right: 30px;
    opacity: 1;
    z-index: 9;
    transition: all .5s ease;
    -webkit-animation: 2s infinite pulse;
    animation: 2s infinite pulse;
    border-radius: .25rem;
}