<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <form [formGroup]="signupForm" novalidate autocomplete="false">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-user-plus auth-icon"></i>
          </div>
          <h3 class="mb-4">Sign up</h3>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" formControlName="username">
          </div>
          <div *ngIf="errors.username" class="alert alert-danger">
            {{ errors.username }}
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>
          <div *ngIf="errors.email" class="alert alert-danger">
            {{ errors.email }}
          </div>
          <div class="input-group mb-4">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div *ngIf="errors.password" class="alert alert-danger">
            {{ errors.password }}
          </div>
          <div class="input-group mb-4">
            <input type="password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword">
          </div>
          <div *ngIf="errors.confirmPassword" class="alert alert-danger">
            {{ errors.confirmPassword }}
          </div>
          <div *ngIf="errors.general" class="alert alert-danger">
            {{ errors.general }}
          </div>
          <button class="btn btn-primary mb-4" (click)="submit()" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></span>
            {{ loading ? 'Loading...' : 'Register' }}
          </button>
          <p class="mb-0 text-muted">Already have an account? <a [routerLink]="['/login']"> Sign in</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
