<div class="navbar-brand header-logo">
  <a [routerLink]="['/dashboard/']" class="b-brand">
    <div class="b-bg">
      <i class="feather icon-trending-up"></i>
    </div>
    <span class="b-title">Will Play</span>
  </a>
  <a href="javascript:" 
     class="mobile-menu" 
     [ngClass]="{'on' : navCollapsed}" 
     id="mobile-collapse" 
     (click)="navCollapse()"
  ><span></span></a>
</div>
