<ul class="navbar-nav">
  <li>
    <div class="dropdown" ngbDropdown>
      <a ngbDropdownToggle href="javascript:" data-toggle="dropdown" style="color: #fff;">
        <i class="icon feather icon-bell"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notification">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notifications</h6>
          <div class="float-right">
            <a href="javascript:" class="m-r-10">mark as read</a>
            <a href="javascript:">clear all</a>
          </div>
        </div>
        <ul class="noti-body">
          <li class="n-title">
            <p class="m-b-0">NEW</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>John Doe</strong><span class="n-time text-muted"><i
                      class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                <p>New ticket Added</p>
              </div>
            </div>
          </li>
          <li class="n-title">
            <p class="m-b-0">EARLIER</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>Joseph William</strong><span class="n-time text-muted"><i
                      class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                <p>Prchace New Theme and make payment</p>
              </div>
            </div>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i
                      class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                <p>currently login</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="noti-footer">
          <a href="javascript:">show all</a>
        </div>
      </div>
    </div>
  </li>
  <!--<li (click)="this.visibleUserList = !this.visibleUserList;">
    <a href="javascript:" class="displayChatbox" style="color: #fff;">
      <i class="icon feather icon-mail"></i>
    </a>
  </li>-->
  <li>
    <div class="dropdown drp-user" ngbDropdown *ngIf="user && user.credentials">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown" style="color: #fff;">
        <img [src]="user.credentials.imageUrl" class="img-radius" alt="User">
        <span class="username">{{ (user.credentials.details.firstName || user.credentials.details.lastName) ? user.credentials.details.firstName + ' ' + user.credentials.details.lastName : user.credentials.username }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <ul class="pro-body">
          <li><a [routerLink]="['/dashboard/settings']" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
          <li><a [routerLink]="['/dashboard/profile']" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
          <!--<li><a href="javascript:" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>-->
          <li><a [routerLink]="['/login']" (click)="logout()" class="dropdown-item"><i class="feather icon-log-out"></i>Logout</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<section class="header-user-list" *ngIf="visibleUserList" [ngClass]="{'open': visibleUserList}" [@slideInOut]>
  <!--<app-chat-user-list (onChatToggle)="onChatToggle($event)" (onChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false;"></app-chat-user-list>-->
</section>

<section class="header-chat" *ngIf="chatMessage" [ngClass]="{'open': chatMessage}" [@slideInOut]>
  <!--<app-chat-msg (onChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId"></app-chat-msg>-->
</section>