<nav class="layout-footer footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">
            <span class="footer-text font-weight-semibold">© Mingyang Li</span>
        </div>
        <div>
            <a [routerLink]="['/dashboard/home']" class="footer-link pt-3">Home</a>
            <a [routerLink]="['/about']" target="_blank" class="footer-link pt-3  ml-4">About</a>
        </div>
    </div>
</nav>