.footer {
    background: linear-gradient(to right,#2d0102,#091991);
    color: #fff;
}

.layout-footer {
    
    box-shadow: 0 -1px 0 rgba(24, 28, 33, 0.04);
}

.layout-footer {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.d-flex {
    flex-shrink: 1;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.d-flex {
    display: flex !important;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.pt-3 {
    padding-top: 1rem !important;
}

.footer .footer-text {
    color: #fff;
}

.font-weight-semibold {
    font-weight: 500 !important;
}

.footer .footer-link {
    color: #fff;
}

.footer-link {
    display: inline-block;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.container-p-x {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}