<div class="card " 
     [ngClass]="{
         'card-border-c-blue': project.priority === 'High',
         'card-border-c-red': project.priority === 'Highest',
         'card-border-c-green': project.priority === 'Normal',
         'card-border-c-yellow': project.priority === 'Low'
     }" 
     *ngIf="project"
>
    <div class="card-header">
        <a [routerLink]="['/dashboard/project/', project.projectId]" class="text-secondary">#{{ index }}. {{ project.name }} </a>
        <span class="label float-right"
              [ngClass]="{
                  'label-primary': project.priority === 'High',
                  'label-danger': project.priority === 'Highest',
                  'label-success': project.priority === 'Normal',
                  'label-warning': project.priority === 'Low'
              }"
         > {{ project.createdAt | date: 'longDate' }} </span>
    </div>
    <div class="card-block card-task">
        <div class="row">
            <div class="col-sm-12">
                <p class="task-detail">{{ project.description }}</p>
                <p class="task-due">
                    <strong> Due : </strong>
                    <strong class="label" 
                            [ngClass]="{
                                'label-primary': project.priority === 'High',
                                'label-danger': project.priority === 'Highest',
                                'label-success': project.priority === 'Normal',
                                'label-warning': project.priority === 'Low'
                            }"
                    >{{ project.estimate }}</strong>
                </p>
            </div>
        </div>
        <hr>
        <div class="task-list-table">
            <a *ngFor="let member of project.assignee">
                <img class="img-fluid img-radius mr-1" [src]="member.imageUrl">
            </a>
            <!--<a href="#!"><i class="fas fa-plus"></i></a>-->
        </div>
        <div class="task-board">
            <div class="dropdown-secondary dropdown" ngbDropdown>
                <button class="btn btn-sm dropdown-toggle" 
                        [ngClass]="{
                            'btn-primary': project.priority === 'High',
                            'btn-danger': project.priority === 'Highest',
                            'btn-success': project.priority === 'Normal',
                            'btn-warning': project.priority === 'Low'
                        }"
                        type="button" 
                        id="dropdown1" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        ngbDropdownToggle
                >{{ project.priority }}</button>
                <div class="dropdown-menu" 
                     aria-labelledby="dropdown1" 
                     data-dropdown-in="fadeIn" 
                     data-dropdown-out="fadeOut"
                     ngbDropdownMenu 
                >
                    <a class="dropdown-item" 
                       ngbDropdownItem
                       [ngClass]="{ 'active': project.priority === 'Highest' }" 
                       href="" 
                       (click)="update($event, 'priority', 'Highest')"
                    >
                        <span class="point-marker bg-danger"></span>Highest
                    </a>
                    <a class="dropdown-item" 
                       [ngClass]="{ 'active': project.priority === 'High' }" 
                       href=""
                       (click)="update($event, 'priority', 'High')"
                    >
                        <span class="point-marker bg-info"></span>High
                    </a>
                    <a class="dropdown-item" 
                       [ngClass]="{ 'active': project.priority === 'Normal' }" 
                       href=""
                       (click)="update($event, 'priority', 'Normal')"
                    >
                        <span class="point-marker bg-success"></span>Normal
                    </a>
                    <a class="dropdown-item" 
                       [ngClass]="{ 'active': project.priority === 'Low' }" 
                       href=""
                       (click)="update($event, 'priority', 'Low')"
                    >
                        <span class="point-marker bg-warning"></span>Low
                    </a>
                </div>
            </div>
            <div class="dropdown-secondary dropdown" ngbDropdown>
                <button class="btn btn-sm dropdown-toggle  b-none txt-muted" 
                        [ngClass]="{
                            'btn-primary': project.priority === 'High',
                            'btn-danger': project.priority === 'Highest',
                            'btn-success': project.priority === 'Normal',
                            'btn-warning': project.priority === 'Low'
                        }"
                        type="button" 
                        id="dropdown2" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        ngbDropdownToggle
                >{{ project.status }}</button>
                <div class="dropdown-menu" 
                     aria-labelledby="dropdown2" 
                     data-dropdown-in="fadeIn" 
                     data-dropdown-out="fadeOut"
                     ngbDropdownMenu
                >
                    <a class="dropdown-item" 
                       [ngClass]="{ 'active': project.status === 'Open' }" 
                       href=""
                       (click)="update($event, 'status', 'Open')"
                       ngbDropdownItem
                    >Open</a>
                    <a class="dropdown-item" 
                       [ngClass]="{ 'active': project.status === 'Completed' }" 
                       href=""
                       (click)="update($event, 'status', 'Completed')"
                       ngbDropdownItem
                    >Completed</a>
                    <a class="dropdown-item" 
                       [ngClass]="{ 'active': project.status === 'On Hold' }" 
                       href=""
                       (click)="update($event, 'status', 'On Hold')"
                       ngbDropdownItem
                    >On Hold</a>
                    <a class="dropdown-item" 
                       [ngClass]="{ 'active': project.status === 'Rejected' }" 
                       href=""
                       (click)="update($event, 'status', 'Rejected')"
                       ngbDropdownItem
                    >Rejected</a>
                </div>
            </div>
            <div class="dropdown-secondary dropdown" ngbDropdown>
                <button class="btn btn-sm dropdown-toggle b-none txt-muted" 
                        type="button" 
                        [ngClass]="{
                            'btn-primary': project.priority === 'High',
                            'btn-danger': project.priority === 'Highest',
                            'btn-success': project.priority === 'Normal',
                            'btn-warning': project.priority === 'Low'
                        }"
                        id="dropdown3" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        ngbDropdownToggle
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="dropdown-menu" 
                     aria-labelledby="dropdown3" 
                     data-dropdown-in="fadeIn" 
                     data-dropdown-out="fadeOut"
                     ngbDropdownMenu
                >
                    <a class="dropdown-item" 
                       [routerLink]="['/dashboard/project/', project.projectId]"
                       ngbDropdownItem
                    >Edit</a>
                    <a class="dropdown-item" 
                       href="" 
                       (click)="remove($event, project)"
                       ngbDropdownItem
                    >Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>