<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <form [formGroup]="loginForm" novalidate>
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Login</h3>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>
          <div *ngIf="errors.email" class="alert alert-danger">
            {{ errors.email }}
          </div>
          <div class="input-group mb-4">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div *ngIf="errors.password" class="alert alert-danger">
            {{ errors.password }}
          </div>
          <div class="form-group text-left">
            <div class="checkbox checkbox-fill d-inline">
              <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" formControlName="remember">
              <label for="checkbox-fill-a1" class="cr"> Remember me</label>
            </div>
          </div>
          <div *ngIf="errors.general" class="alert alert-danger">
            {{ errors.general }}
          </div>
          <button class="btn btn-primary mb-4" (click)="login()" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></span>
            {{ loading ? 'Loading...' : 'Login' }}
          </button>
          
          <!-- <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/reset-password']">Reset</a></p> -->
          <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/signup']">Sign up</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
