<div class="row">
  <div class="col-md-8">
    <app-card class="account-detail" [customHeader]="true">
        <div class="app-card-header">
            <h5>Account Detail</h5>
            <div class="card-header-right">
                <div class="col-sm-12">
                    <label class="dt-cust-search f-right">
                        <div class="form-group">
                            <label>Search: </label>
                            <input type='text' class="form-control input-sm m-l-10" placeholder='Search Name'
                                (keyup)='updateFilter($event)' />
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="card-body">
          <div class="table-content crm-table">
            <div class="project-table">
              <div id="account-list" class="dt-responsive">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered full-data-table" 
                         #mf="mfDataTable"
                         [mfData]="account_list"
                         [mfRowsOnPage]="2"
                  >
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Cost</th>
                        <th>Action</th>
                      </tr>
                      <tr></tr>
                    </thead>
                    <tbody *ngIf="account_list">
                      <tr *ngFor="let item of mf.data; let i = index;">
                        <td>{{ item.date.year }}-{{ item.date.month }}-{{ item.date.day }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.category && item.category[0] ? (item.category[0].value | uppercase) : '' }}</td>
                        <td>{{ item.money | currency }}</td>
                        <td class="action">
                          <a href="javascript:" class="m-r-15 crm-action-edit text-info" (click)="editAccount(item)"><i class="fa fa-edit"></i></a>
                          <a href="javascript:" class="crm-action-delete text-danger" (click)="deleteAccount(item, i)"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="10">
                          <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </app-card>
  </div>
  <div class="col-md-4">
    <app-card [customHeader]="true" class="monthly-job">
        <div class="app-card-header">
            <h5>Monthly Settings</h5>
            <div class="card-header-right">
              <div class="btn-group card-option">
                <button type="button" class="btn text-danger btn-icon" (click)="addJob()">
                  <i class="feather icon-plus"></i>
                </button>
              </div>
            </div>
        </div>
        <div class="card-body">
          <div class="table-content crm-table">
            <div class="project-table">
              <div id="job-list" class="dt-responsive">
                <div class="table-responsive">
                  <table class="table table-bordered full-data-table" 
                         #jobmf="mfDataTable"
                         [mfData]="job_list"
                         [mfRowsOnPage]="1"
                  >
                    <thead>
                      <tr>
                        <th style="width: 68px;">Status</th>
                        <th>Name</th>
                        <th style="width: 51px;">Day</th>
                        <th>Money</th>
                        <th style="width: 83px;">Action</th>
                      </tr>
                      <tr></tr>
                    </thead>
                    <tbody *ngIf="job_list">
                      <tr [ngClass]="{ 
                            'income-background': item.type === 'Income', 
                            'expense-background': item.type === 'Expense' 
                          }" 
                          *ngFor="let item of jobmf.data; let i = index;"
                      >
                        <td style="text-align: center;">
                          <a class="crm-action-edit" [ngClass]="item.status === 1 ? 'text-danger' : 'text-success'" href="javascript:;" (click)="changeStatus(item)">
                            <i class="feather icon-play" *ngIf="item.status === 0"></i>
                            <i class="feather icon-pause" *ngIf="item.status === 1"></i>
                          </a>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.day }}</td>
                        <td>{{ item.money | currency }}</td>
                        <td class="action">
                          <a class="m-r-15 crm-action-edit text-info" href="javascript:;" (click)="editJob(item)">
                            <i class="feather icon-edit-2"></i>
                          </a>
                          <a class="m-r-15 crm-action-delete text-danger" href="javascript:;" (click)="deleteJob(item, i)">
                            <i class="feather icon-trash-2"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="10">
                          <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </app-card>
  </div>
</div>

<div class="fixed-button">
  <button type="button" class="btn btn-icon btn-rounded btn-primary" (click)="addAccount()">
    <i class="feather icon-plus"></i>
  </button>
</div>

<div class="add-account-dialog" *ngIf="account">
  <app-modal-animation [modalID]="'add-account'" [modalClass]="'md-effect-3'">
    <h3>Add new transfer</h3>
    <div class="account-form">
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input class="form-control form-control-info" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="account.date" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append bg-default" (click)="d.toggle()" >
              <span class="feather icon-calendar input-group-text form-control-info"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
          <select name="select" class="form-control form-control-info" [(ngModel)]="account.type">
            <option value="Expense">Expense</option>
            <option value="Income">Income</option>
          </select>
        </div>
      </div>
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
          <tag-input class="form-control-info tag-select" theme='bootstrap' [(ngModel)]="account.category"
            [addOnBlur]="true" [clearOnBlur]="true" [maxItems]="1">
            <tag-input-dropdown [showDropdownIfEmpty]="true" [(autocompleteItems)]="autocompleteItems">
            </tag-input-dropdown>
          </tag-input>
        </div>
      </div>
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-info" placeholder="Name" [(ngModel)]="account.name">
        </div>
      </div>
      <div class="row m-b-30">
        <label class="col-sm-4 col-lg-2 col-form-label">money</label>
        <div class="col-sm-8 col-lg-10">
          <div class="input-group">
            <span class="input-group-prepend">
              <label class="input-group-text form-control-info"><i class="fas fa-dollar-sign"></i></label>
            </span>
            <input type="number" class="form-control form-control-info" placeholder="money" [(ngModel)]="account.money">
          </div>
        </div>
      </div>
      <div class="row">
        <button (click)="saveAccount()" class="btn btn-primary md-close">Save</button>
      </div>
    </div>
    <button (click)="closeMyModal('add-account')" aria-label="Close" class="md-close-btn">
      <i class="feather icon-x"></i>
    </button>
  </app-modal-animation>

  <app-modal-animation [modalID]="'add-job'" [modalClass]="'md-effect-4'">
    <h3>Add new job</h3>
    <div class="account-form">
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-info" placeholder="Name" [(ngModel)]="job.name">
        </div>
      </div>
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
          <select name="select" class="form-control form-control-info" [(ngModel)]="job.type">
            <option value="Expense">Expense</option>
            <option value="Income">Income</option>
          </select>
        </div>
      </div>
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Day</label>
        <div class="col-sm-10">
          <select name="select" class="form-control form-control-info" [(ngModel)]="job.day">
            <option [value]="day" *ngFor="let day of days">{{ day }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row m-b-30">
        <label class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
          <tag-input class="form-control-info tag-select" theme='bootstrap' [(ngModel)]="job.category"
            [addOnBlur]="true" [clearOnBlur]="true" [maxItems]="1">
            <tag-input-dropdown [showDropdownIfEmpty]="true" [(autocompleteItems)]="autocompleteItems">
            </tag-input-dropdown>
          </tag-input>
        </div>
      </div>
      <div class="row m-b-30">
        <label class="col-sm-4 col-lg-2 col-form-label">Money</label>
        <div class="col-sm-8 col-lg-10">
          <div class="input-group">
            <span class="input-group-prepend">
              <label class="input-group-text form-control-info"><i class="fas fa-dollar-sign"></i></label>
            </span>
            <input type="number" class="form-control form-control-info" placeholder="money" [(ngModel)]="job.money">
          </div>
        </div>
      </div>
      <div class="row">
        <button (click)="saveJob()" class="btn btn-primary md-close">Save</button>
      </div>
    </div>
    <button (click)="closeMyModal('add-job')" aria-label="Close" class="md-close-btn">
      <i class="feather icon-x"></i>
    </button>
  </app-modal-animation>
</div>