.fixed-button {
    position: fixed;
    bottom: 50px;
    right: 30px;
    opacity: 1;
    z-index: 9;
    transition: all .5s ease;
    -webkit-animation: 2s infinite pulse;
    animation: 2s infinite pulse;
    border-radius: .25rem;
}

.add-account-dialog {
    p {
        line-height: 1.4;
    }

    ul {
        margin-bottom: 0;
        display: inline-block;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    strong {
        font-weight: bolder;
    }

    .feather {
        font-weight: 900;
        font-size: 20px;
    }
}

.account-form {
    .sub-title {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(204,204,204,.35);
        padding-bottom: 10px;
        margin-bottom: 20px;
        color: #2c3e50;
    }
    .form-control-info {
        border-color: #00bcd4;
        color: #00bcd4;
    }
    .ng2-tag-input__text-input {
        display: inline;
        vertical-align: middle;
        border: none;
        padding: 0 .5rem;
        font-size: 1em;
        font-family: Roboto,"Helvetica Neue",sans-serif;
    }
    .tag-select tag-input-form {
        padding: 0 10px!important;
    }
    .tag__text {
        text-transform: uppercase;
    }
}

.f-right {
    float: right;
}

.account-detail {
    .dt-cust-search {
        &.f-right {
            label: {
                display: inline-block;
            }
            .form-control {
                display: inline-block;
                width: auto;
                vertical-align: middle;
                padding: 0.375rem 0.75rem;
            }
        }
    }

    .card {
        .card-block {
            padding: 0;
        }
        .card-body {
            flex: 1 1 auto;
            padding: 1.25rem;

            .table {
                thead {
                    th {
                        border-bottom-color: #ccc;
                        border-bottom-width: 2px;
                        padding: .75rem;
                        border-bottom: 2px solid #dee2e6;
                    }
                }
            }

            .full-data-table {
                th {
                    position: relative;
                }
            }

            .table-bordered {
                th {
                    border: 1px solid #dee2e6;
                }
            }

            .pagination-main {
                ul {
                    margin-bottom: 0;
                }

                .pagination {
                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.monthly-job {
    .card-block {
        padding: 0;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    .pagination-main {
        ul {
            margin-bottom: 0;
        }

        .pagination {
            li {
                display: inline-block;
            }
        }
    }
}

.income-background {
    background-color: #d4edda;
    color: #299b85;
}

.expense-background {
    background-color: #f8d7da;
    color: #994442;
}
