.card-block {
    padding: 0;
}

#task-list {
    li {
        .float-right {
            position: relative;
            top: -57px;
            right: -10px;
            height: 0;
        }
    }
}

#task-container li.complete:before {
    top: 10px;
    right: 15px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}
