<div class="row">
    <div class="col-md-4" *ngIf="selectedGroup">
        <app-card [cardTitle]="selectedGroup.name" [options]="false">
            <div class="card-block">
                <div class="input-group mb-3">
                    <input 
                        type="text" 
                        name="task-insert" 
                        class="form-control add_task_todo" 
                        placeholder="Create your todo list" 
                        [(ngModel)]="todoName"
                        (keydown.enter)="updateList($event, 'add', null, null)"
                    >
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-icon" id="add-btn" (click)="updateList($event, 'add', null, null)">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="new-task">
                    <div class="to-do-list mb-3" *ngFor="let item of selectedGroup.list; let i = index;">
                        <div class="d-inline-block">
                            <label 
                                class="check-task custom-control custom-checkbox d-flex justify-content-center"
                                [ngClass]="item.done ? 'done-task': ''"    
                            >
                                <input 
                                    type="checkbox" 
                                    class="custom-control-input"  
                                    [checked]="item.done"
                                    (click)="updateList($event, 'done', item, null)"
                                >
                                <span class="custom-control-label">{{ item.name }}</span>
                            </label>
                        </div>
                        <div class="float-right">
                            <a (click)="updateList($event, 'delete', item, i);" href="" class="delete_todolist">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div [ngClass]="selectedGroup ? 'col-md-8' : 'col-md-12'">
        <app-card [cardTitle]="'To Do Group'" [options]="false">
            <div class="card-block">
                <div class="input-group mb-3">
                    <input 
                        type="text" 
                        name="task-insert" 
                        class="form-control" 
                        placeholder="Create your task group"
                        [(ngModel)]="groupName"
                        (keydown.enter)="createGroup()"
                    >
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-icon" id="create-task" (click)="createGroup()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <section id="task-container">
                    <ul id="task-list">
                        <li 
                            *ngFor="let group of todo_list; let i = index;" 
                            [ngClass]="group.done ? 'complete' : ''"
                            (click)="selectedGroup = group"
                        >
                            <p>{{ group.name }}</p>
                            <div class="float-right">
                                <a href="" class="delete_todolist" (click)="deleteGroup($event, group, i);">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </app-card>
    </div>
</div>