<app-navigation 
    class="pcoded-navbar" 
    [ngClass]="{
        'navbar-collapsed' : navCollapsed, 
        'theme-horizontal': this.willConfig['layout'] === 'horizontal', 
        'mob-open' : navCollapsedMob
    }" 
    (onNavCollapse)="this.navCollapsed = !this.navCollapsed;" 
    (onNavCollapsedMob)="this.navCollapsedMob = !this.navCollapsedMob;"
></app-navigation> 
<!-- (onNavCollapsedMob)="this.navCollapsedMob = !this.navCollapsedMob;" --> <!-- , 'mob-open' : navCollapsedMob -->
<app-nav-bar 
    class="navbar pcoded-header navbar-expand-lg navbar-light" 
    (onNavCollapsedMob)="this.navCollapsedMob = !this.navCollapsedMob;"
></app-nav-bar> 
<!-- (onNavCollapsedMob)="this.navCollapsedMob = !this.navCollapsedMob;" -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <app-breadcrumb></app-breadcrumb>
        <div class="main-body">
          <div class="page-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<app-loading></app-loading>