<div class="row" *ngIf="dashboard">
  <div class="col-md-2">
    <app-card [hidHeader]="true">
      <h6 class="mb-4">Daily Expense</h6>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            <i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>
            {{ dashboard.expense.daily | currency:currencyCode }}
          </h3>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px;">
        <div 
          class="progress-bar" 
          [ngClass]="{ 'progress-c-theme': getPercentage(dashboard.expense.daily, 'daily', 'expense', true) < 50,
                        'progress-c-theme2': getPercentage(dashboard.expense.daily, 'daily', 'expense', true) >= 50 && getPercentage(dashboard.expense.yearly, 'yearly', 'expense', true) < 80,
                        'progress-c-theme3': getPercentage(dashboard.expense.daily, 'daily', 'expense', true) >= 80
                      }"
          role="progressbar" 
          [ngStyle]="{ 'width': getPercentage(dashboard.expense.daily, 'daily', 'expense') }"
          aria-valuemin="0" 
          aria-valuemax="100"
        ></div>      
      </div>
    </app-card>
  </div>
  <div class="col-md-2">
    <app-card [hidHeader]="true">
      <h6 class="mb-4">Monthly Expense</h6>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            <i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>
            {{ dashboard.expense.monthly | currency:currencyCode }}
          </h3>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px;">
        <div 
          class="progress-bar" 
          [ngClass]="{ 'progress-c-theme': getPercentage(dashboard.expense.monthly, 'monthly', 'expense', true) < 50,
                        'progress-c-theme2': getPercentage(dashboard.expense.monthly, 'monthly', 'expense', true) >= 50 && getPercentage(dashboard.expense.yearly, 'yearly', 'expense', true) < 80,
                        'progress-c-theme3': getPercentage(dashboard.expense.monthly, 'monthly', 'expense', true) >= 80
                      }"
          role="progressbar" 
          [ngStyle]="{ 'width': getPercentage(dashboard.expense.monthly, 'monthly', 'expense') }"
          aria-valuemin="0" 
          aria-valuemax="100"
        ></div>
      </div>
    </app-card>
  </div>
  <div class="col-md-2">
    <app-card [hidHeader]="true">
      <h6 class="mb-4">Yearly Expense</h6>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            <i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>
            {{ dashboard.expense.yearly | currency:currencyCode }}
          </h3>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px;">
        <div 
          class="progress-bar progress-c-theme" 
          [ngClass]="{ 'progress-c-theme': getPercentage(dashboard.expense.yearly, 'yearly', 'expense', true) < 50,
                        'progress-c-theme2': getPercentage(dashboard.expense.yearly, 'yearly', 'expense', true) >= 50 && getPercentage(dashboard.expense.yearly, 'yearly', 'expense', true) < 80,
                        'progress-c-theme3': getPercentage(dashboard.expense.yearly, 'yearly', 'expense', true) >= 80
                      }"
          role="progressbar" 
          [ngStyle]="{ 'width': getPercentage(dashboard.expense.yearly, 'yearly', 'expense') }"
          aria-valuemin="0" 
          aria-valuemax="100"
        ></div>
      </div>
    </app-card>
  </div>
  <div class="col-md-3">
    <app-card [hidHeader]="true">
      <h6 class="mb-4">Monthly Income</h6>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            <i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
            {{ dashboard.income.monthly | currency:currencyCode }}
          </h3>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px;">
        <div 
          class="progress-bar progress-c-theme" 
          role="progressbar" 
          style="width: 50%;" 
          aria-valuenow="50" 
          aria-valuemin="0" 
          aria-valuemax="100"
        ></div>
      </div>
    </app-card>
  </div>
  <div class="col-md-3">
    <app-card [hidHeader]="true">
      <h6 class="mb-4">Yearly Income</h6>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            <i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
            {{ dashboard.income.yearly | currency:currencyCode }}
          </h3>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px;">
        <div 
          class="progress-bar progress-c-theme" 
          role="progressbar" 
          style="width: 50%;" 
          aria-valuenow="50" 
          aria-valuemin="0" 
          aria-valuemax="100"
        ></div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-8 col-md-6">
    <app-card [customHeader]="true" cardClass="Recent-Users" blockClass="px-0 py-3" id="recent-account">
      <div class="app-card-header">
          <h5>Recent Account</h5>
          <div class="card-header-right">
            <div class="btn-group card-event">
              <a class="label theme-bg2 text-white f-12" [routerLink]="['/dashboard/account']">More</a>
            </div>
          </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
          <tr class="unread" *ngFor="let account of dashboard.accounts">
            <td>
              <i *ngIf="account.type === 'Income'" class="fas fa-wallet" style="font-size: 40px; color: #1dc4e9"></i>
              <i *ngIf="account.type === 'Expense'" class="fas fa-hand-holding-usd" style="font-size: 40px; color: #899FD4"></i>
            </td>
            <td>
              <h6 class="mb-1">{{ account.name }}</h6>
              <p class="m-0">{{ account.category && account.category[0] ? (account.category[0].value | uppercase) : '' }}</p>
            </td>
            <td>
              <h6 class="text-muted">
                <i class="fas fa-circle f-10 m-r-15" [ngClass]="account.type === 'Income' ? 'text-c-green' : 'text-c-red'"></i>
                {{ account.date.year }}-{{ account.date.month }}-{{ account.date.day }}
              </h6>
            </td>
            <td>
              <h6 class="text-muted">{{ account.money | currency }}</h6>
            </td>
          </tr>
          <!--<tr class="unread">
            <td><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></td>
            <td>
              <h6 class="mb-1">Mathilde Andersen</h6>
              <p class="m-0">Lorem Ipsum is simply</p>
            </td>
            <td>
              <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>11 MAY 10:35</h6></td>
            <td><a href="javascript:" class="label theme-bg2 text-white f-12">Reject</a><a href="javascript:" class="label theme-bg text-white f-12">Approve</a></td>
          </tr>-->
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card card-event">
      <div class="card-block">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h5 class="m-0">
              <a class="label theme-bg text-white f-12" [routerLink]="['/dashboard/todo']">
                {{ dashboard.todo.name }}
              </a>
            </h5>
          </div>
          <div class="col-auto">
            <label class="label theme-bg2 text-white f-14 f-w-400 float-right">{{ calcTodoPercentage() | percent }}</label>
          </div>
        </div>
        <div class="new-task mt-5">
            <div class="to-do-list mb-4" *ngFor="let item of dashboard.todo.list">
                <div class="checkbox-fade fade-in-primary">
                    <label class="check-task" [ngClass]="item.done ? 'done-task' : ''">
                        <input type="checkbox" [checked]="item.done">
                        <span class="cr mr-3" (click)="updateTodo(item)">
                            <i class="cr-icon fas fa-check txt-primary"></i>
                        </span>
                        <span>{{ item.name }}</span>
                    </label>
                </div>
            </div>
        </div>
        <h6 class="text-muted mt-4 mb-0" *ngIf="dashboard.todo.done">Completed!!!</h6>
        <i class="fab fa-angellist text-c-purple f-50" *ngIf="dashboard.todo.done"></i>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-4">
    <div class="card card-social">
      <div class="card-block border-bottom">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            <i class="fab fa-facebook-f text-primary f-36"></i>
          </div>
          <div class="col text-right">
            <h3>12,281</h3>
            <h5 class="text-c-green mb-0">+7.2% <span class="text-muted">Total Likes</span></h5>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row align-items-center justify-content-center card-active">
          <div class="col-6">
            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>35,098</h6>
            <div class="progress">
              <div class="progress-bar progress-c-theme" role="progressbar" style="width:60%;height:6px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-6">
            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>3,539</h6>
            <div class="progress">
              <div class="progress-bar progress-c-theme2" role="progressbar" style="width:45%;height:6px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card card-social">
      <div class="card-block border-bottom">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            <i class="fab fa-twitter text-c-blue f-36"></i>
          </div>
          <div class="col text-right">
            <h3>11,200</h3>
            <h5 class="text-c-purple mb-0">+6.2% <span class="text-muted">Total Likes</span></h5>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row align-items-center justify-content-center card-active">
          <div class="col-6">
            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>34,185</h6>
            <div class="progress">
              <div class="progress-bar progress-c-green" role="progressbar" style="width:40%;height:6px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-6">
            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>4,567</h6>
            <div class="progress">
              <div class="progress-bar progress-c-blue" role="progressbar" style="width:70%;height:6px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card card-social">
      <div class="card-block border-bottom">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            <i class="fab fa-google-plus-g text-c-red f-36"></i>
          </div>
          <div class="col text-right">
            <h3>10,500</h3>
            <h5 class="text-c-blue mb-0">+5.9% <span class="text-muted">Total Likes</span></h5>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row align-items-center justify-content-center card-active">
          <div class="col-6">
            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>25,998</h6>
            <div class="progress">
              <div class="progress-bar progress-c-theme" role="progressbar" style="width:80%;height:6px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-6">
            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>7,753</h6>
            <div class="progress">
              <div class="progress-bar progress-c-theme2" role="progressbar" style="width:50%;height:6px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Rating">
      <div class="row align-items-center justify-content-center m-b-20">
        <div class="col-6">
          <h2 class="f-w-300 d-flex align-items-center float-left m-0">4.7 <i class="fas fa-star f-10 m-l-10 text-c-yellow"></i></h2>
        </div>
        <div class="col-6">
          <h6 class="d-flex  align-items-center float-right m-0">0.4 <i class="fas fa-caret-up text-c-green f-22 m-l-10"></i></h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>5</h6>
          <h6 class="align-items-center float-right">384</h6>
          <div class="progress m-t-30 m-b-20" style="height: 6px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-xl-12">
          <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>4</h6>
          <h6 class="align-items-center float-right">145</h6>
          <div class="progress m-t-30  m-b-20" style="height: 6px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-xl-12">
          <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>3</h6>
          <h6 class="align-items-center float-right">24</h6>
          <div class="progress m-t-30  m-b-20" style="height: 6px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-xl-12">
          <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>2</h6>
          <h6 class="align-items-center float-right">1</h6>
          <div class="progress m-t-30  m-b-20" style="height: 6px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-xl-12">
          <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>1</h6>
          <h6 class="align-items-center float-right">0</h6>
          <div class="progress m-t-30  m-b-20" style="height: 6px;">
            <div class="progress-bar" role="progressbar" style="width:0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-8 col-md-6">
    <ngb-tabset>
      <ngb-tab title="Today">
        <ng-template ngbTabContent>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Activity</th>
              <th>Time</th>
              <th>Status</th>
              <th class="text-right"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
              </td>
              <td>
                <h6 class="m-0">The quick brown fox</h6>
              </td>
              <td>
                <h6 class="m-0">3:28 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-green">Done</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
            </tr>

            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user">Albert Andersen</h6>
              </td>
              <td>
                <h6 class="m-0">Jumps over the lazy</h6>
              </td>
              <td>
                <h6 class="m-0">2:37 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-red">Missed</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
            </tr>

            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user">Silje Larsen</h6>
              </td>
              <td>
                <h6 class="m-0">Dog the quick brown</h6>
              </td>
              <td>
                <h6 class="m-0">10:23 AM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-purple">Delayed</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i></td>
            </tr>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
              </td>
              <td>
                <h6 class="m-0">The quick brown fox</h6>
              </td>
              <td>
                <h6 class="m-0">4:28 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-green">Done</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="This Week">
        <ng-template ngbTabContent>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Activity</th>
              <th>Time</th>
              <th>Status</th>
              <th class="text-right"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user">Albert Andersen</h6>
              </td>
              <td>
                <h6 class="m-0">Jumps over the lazy</h6>
              </td>
              <td>
                <h6 class="m-0">2:37 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-red">Missed</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
            </tr>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
              </td>
              <td>
                <h6 class="m-0">The quick brown fox</h6>
              </td>
              <td>
                <h6 class="m-0">3:28 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-green">Done</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
            </tr>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
              </td>
              <td>
                <h6 class="m-0">The quick brown fox</h6>
              </td>
              <td>
                <h6 class="m-0">4:28 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-green">Done</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
            </tr>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user">Silje Larsen</h6>
              </td>
              <td>
                <h6 class="m-0">Dog the quick brown</h6>
              </td>
              <td>
                <h6 class="m-0">10:23 AM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-purple">Delayed</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i></td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="All">
        <ng-template ngbTabContent>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Activity</th>
              <th>Time</th>
              <th>Status</th>
              <th class="text-right"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user">Silje Larsen</h6>
              </td>
              <td>
                <h6 class="m-0">Dog the quick brown</h6>
              </td>
              <td>
                <h6 class="m-0">10:23 AM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-purple">Delayed</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i></td>
            </tr>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
              </td>
              <td>
                <h6 class="m-0">The quick brown fox</h6>
              </td>
              <td>
                <h6 class="m-0">3:28 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-green">Done</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
            </tr>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user">Albert Andersen</h6>
              </td>
              <td>
                <h6 class="m-0">Jumps over the lazy</h6>
              </td>
              <td>
                <h6 class="m-0">2:37 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-red">Missed</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
            </tr>
            <tr>
              <td>
                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
              </td>
              <td>
                <h6 class="m-0">The quick brown fox</h6>
              </td>
              <td>
                <h6 class="m-0">4:28 PM</h6>
              </td>
              <td>
                <h6 class="m-0 text-c-green">Done</h6>
              </td>
              <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
