.fixed-button {
    position: fixed;
    bottom: 50px;
    right: 30px;
    opacity: 1;
    z-index: 9;
    transition: all .5s ease;
    -webkit-animation: 2s infinite pulse;
    animation: 2s infinite pulse;
    border-radius: .25rem;
}

.add-project-dialog .feather.icon-x {
    font-weight: 900;
    font-size: 20px;
}