<div class="row">
    <div class="col-md-3">
        <app-card [cardTitle]="'Search Box'" [options]="false" [cardClass]="'task-board-left'">
            <div class="input-group mb-3">
                <input type="text" class="form-control add_task_todo" placeholder="Search here..." [(ngModel)]="filter.name">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-icon btn-msg-send" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="task-right">
                <div class="task-right-header-status">
                    <span class="f-w-400" data-toggle="collapse">Priority Status</span>
                    <i class="fas fa-caret-down float-right m-t-5"></i>
                </div>
                <div class="taskboard-right-progress">
                    <div *ngFor="let item of calc.priority | keyvalue">
                        <h6 class="m-t-10">
                            {{ item.key }}
                            <span class="float-right">{{ item.value }}/{{ calc.total }}</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar" 
                                [ngClass]="{
                                    'bg-danger': item.key === 'Highest',
                                    'bg-info': item.key === 'High',
                                    'bg-success': item.key === 'Normal',
                                    'bg-warning': item.key === 'Low'
                                }"
                                role="progressbar" 
                                [ngStyle]="{'width': calcWidth(item.value)}"
                            ></div>
                        </div>
                    </div>
                </div> 
                <div class="task-right-header-status">
                    <span class="f-w-400" data-toggle="collapse">Completed Status</span>
                    <i class="fas fa-caret-down float-right m-t-5"></i>
                </div>
                <div class="taskboard-right-progress">
                    <div *ngFor="let item of calc.status | keyvalue">
                        <h6 class="m-t-10">
                            {{ item.key }}
                            <span class="float-right">{{ item.value }}/{{ calc.total }}</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar"
                                [ngClass]="{
                                    'bg-danger': item.key === 'Rejected',
                                    'bg-info': item.key === 'Open',
                                    'bg-success': item.key === 'Completed',
                                    'bg-warning': item.key === 'On Hold'
                                }" 
                                role="progressbar" 
                                [ngStyle]="{'width':calcWidth(item.value)}"
                            ></div>
                        </div>
                    </div>
                </div> 
            </div>
        </app-card>
    </div>
    <div class="col-md-9 filter-bar">
        <nav class="navbar m-b-30 p-10">
            <ul class="nav">
                <li class="nav-item f-text active">
                    <a class="nav-link text-secondary">Filter: 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle text-secondary" 
                       href=""
                       (click)="$event.preventDefault()"
                       id="bydate" 
                       data-toggle="dropdown" 
                       aria-haspopup="true" 
                       aria-expanded="false"
                       ngbDropdownToggle
                    >
                        <i class="far fa-clock"></i> {{ filter.date ? filter.date : 'By Date'}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="bydate" ngbDropdownMenu>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.date === '' }" 
                           href=""
                           (click)="updateFilter($event, 'date', '')"
                        >Show all</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.date === 'today' }" 
                           href=""
                           (click)="updateFilter($event, 'date', 'today')"
                        >Today</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.date === 'yesterday' }" 
                           href=""
                           (click)="updateFilter($event, 'date', 'yesterday')"
                        >Yesterday</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.date === 'this week' }" 
                           href=""
                           (click)="updateFilter($event, 'date', 'this week')"
                        >This week</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.date === 'this month' }" 
                           href=""
                           (click)="updateFilter($event, 'date', 'this month')"
                        >This month</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.date === 'this year' }" 
                           href=""
                           (click)="updateFilter($event, 'date', 'this year')"
                        >This year</a>
                    </div>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle text-secondary" 
                       href="" 
                       (click)="$event.preventDefault()"
                       id="bystatus" 
                       data-toggle="dropdown" 
                       aria-haspopup="true" 
                       aria-expanded="false"
                       ngbDropdownToggle
                    >
                        <i class="fas fa-chart-line"></i> {{ filter.status ? filter.status : 'By Status' }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="bystatus" ngbDropdownMenu>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.status === '' }" 
                           href=""
                           (click)="updateFilter($event, 'status', '')"
                        >Show all</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.status === 'Open' }" 
                           href=""
                           (click)="updateFilter($event, 'status', 'Open')"
                        >Open</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.status === 'On Hold' }" 
                           href=""
                           (click)="updateFilter($event, 'status', 'On Hold')"
                        >On hold</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.status === 'Completed' }" 
                           href=""
                           (click)="updateFilter($event, 'status', 'Completed')"
                        >Completed</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.status === 'Rejected' }" 
                           href=""
                           (click)="updateFilter($event, 'status', 'Rejected')"
                        >Rejected</a>            
                    </div>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle text-secondary" 
                       href="" 
                       (click)="$event.preventDefault()"
                       id="bypriority" 
                       data-toggle="dropdown" 
                       aria-haspopup="true" 
                       aria-expanded="false"
                       ngbDropdownToggle
                    >
                        <i class="fas fa-list-ol"></i> {{ filter.priority ? filter.priority : 'By Priority' }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="bypriority" ngbDropdownMenu>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.priority === '' }" 
                           href=""
                           (click)="updateFilter($event, 'priority', '')"
                        >Show all</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.priority === 'Highest' }" 
                           href=""
                           (click)="updateFilter($event, 'priority', 'Highest')"
                        >Highest</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.priority === 'High' }" 
                           href=""
                           (click)="updateFilter($event, 'priority', 'High')"
                        >High</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.priority === 'Normal' }" 
                           href=""
                           (click)="updateFilter($event, 'priority', 'Normal')"
                        >Normal</a>
                        <a ngbDropdownItem class="dropdown-item" 
                           [ngClass]="{ 'active': filter.priority === 'Low' }" 
                           href=""
                           (click)="updateFilter($event, 'priority', 'Low')"
                        >Low</a>
                    </div>
                </li>
            </ul>            
        </nav>
        <div class="row">
            <div class="col-md-6" 
                 *ngFor="let project of projects | 
                         dataFilter:'name':filter.name:true |
                         dataFilter:'status':filter.status | 
                         dataFilter:'priority':filter.priority |
                         dataFilter:'createdAt':filter.date; 
                         let i = index;"
            >
                <app-project-card [calc]="calc" [list]="projects" [project]="project" [index]="i"></app-project-card>
            </div>
        </div>
    </div>
</div>

<div class="fixed-button">
  <button type="button" class="btn btn-icon btn-rounded btn-primary" (click)="addProject()">
    <i class="feather icon-plus"></i>
  </button>
</div>

<div class="add-project-dialog" >
  <app-modal-animation [modalID]="'add-project'" [modalClass]="'md-effect-4'">
    <h3>Add new project</h3>
    <div class="project-form" *ngIf="newProject">
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-info" [(ngModel)]="newProject.name">
            </div>
        </div>
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Estimate</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-info" [(ngModel)]="newProject.estimate">
            </div>
        </div>
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Priority</label>
            <div class="col-sm-10">
                <select name="select" class="form-control form-control-info" [(ngModel)]="newProject.priority">
                    <option value="Highest">Highest</option>
                    <option value="High">High</option>
                    <option value="Normal">Normal</option>
                    <option value="Low">Low</option>
                </select>
            </div>
        </div>
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea 
                    class="form-control form-control-info" 
                    cols="80"
                    rows="3" 
                    [(ngModel)]="newProject.description"
                >
                </textarea>
            </div>
        </div>
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Team</label>
            <div class="col-sm-10">
                <select name="select" class="form-control form-control-info" [(ngModel)]="newProject.team">
                    <option value="">Personal</option>
                    <option [value]="team.name" *ngFor="let team of teams">{{ team.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row m-b-30">
            <label class="col-sm-2 col-form-label">Assignee</label>
            <div class="col-sm-10">
                <div class="task-list-table">
                    <a *ngFor="let p of newProject.assignee">
                        <img class="img-fluid img-radius mr-1" [src]="p.imageUrl">
                    </a>
                    <a *ngIf="newProject.team"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <button (click)="saveProject()" class="btn btn-primary md-close">Save</button>
        </div>
    </div>
    <button (click)="closeMyModal()" aria-label="Close" class="md-close-btn">
      <i class="feather icon-x"></i>
    </button>
  </app-modal-animation>
</div>